.first-box-container {
  border: 10px solid;
  border-color: green;
  width: 150px;
  height: 100px;
  background-color: red;
}

.second-box-container {
  border: 10px solid;
  border-color: red;
  width: 150px;
  height: 100px;
  left: 200px;
  bottom: 115;
  position: relative;
  background-color: yellow;
}

.third-box-container {
  border: 10px solid;
  border-color: yellow;
  width: 150px;
  height: 100px;
  left: 400px;
  bottom: 233;
  position: relative;
  background-color: green;
}

p {
  color: blue;
  font-size: smaller;
  padding-top: 10;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
}
